# Folders to ignore
*.pyc
**/export/

.idea/

# Files to ignore
*.ipynb

# Exceptions in the examples folder
!examples/export/
!examples/*.ipynb

# Virtual env directory
venv/

html/
latex/

.coverage
.pytest_cache
coverage.xml
nvdlib

.DS_Store
*.log
*.err
